<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.back.mapper.WmsInboundMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.example.back.domain.WmsInbound">
        <id column="id" property="id" />
        <result column="inbound_no" property="inboundNo" />
        <result column="inbound_status" property="inboundStatus" />
        <result column="inbound_time" property="inboundTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, inbound_no, inbound_status, inbound_time
    </sql>

</mapper>
